{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<div class="container">

    <div class="col-sm-3 categories">
        <h3>Browse <br> CATEGORIES</h3>
        <hr>

        <div class="list-group">
            {% for category in categories %}
            <ul>
              <li>
              <a href="{% url 'category_details' category.id %}">{{ category.name }}</a>
            </li>
            </ul>
            {% endfor %}
        </div>
    </div>


    <div class="col-sm-8">
        {% if is_paginated %}
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{% url 'categories'  %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{% url 'categories' %}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
        {% endif %}
    </div>

    <div class="row">
        <div id="small-img"
             class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
            {% for carpet in carpet_list %}
            <ul>
                <li>
                    {% thumbnail carpet.image '250x250' as im %}
                    <img class="img-responsive"
                         style="display: inline-block; width:250px;height:250px"
                         src="{{ im.url }}">
                    {% endthumbnail %}
                    <br>
                    {{ carpet.item_code }}
                    <br>
                    {{ carpet.name }}

                    <div class="list-group">

                        <button><a class="btn"
                                   href="{% url 'recolor_carpet' carpet.item_code %}">VIEW DETAILS</a>
                        </button>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
