{% load i18n %}

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="authModalLabel">{% trans 'Sign Out' %}</h4>
  </div>
  <div class="modal-body">
    {% trans 'Are you sure you want to sign out?' %}
    <form class="login" method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}"/>
      {% endif %}
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
      Close
    </button>
    <button id="submitModal" type="submit" data-action="logout" class="btn btn-primary">{% trans "Sign Out" %}</button>
  </div>
</div>