{% extends 'base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}


{% block extra_js %}
<script src="{% static 'js/jQuery.print.js' %}"></script>
<script src="{% static 'js/palette_list.js' %}"></script>
{% endblock %}
{% block content %}

  <div class="container">
    <div class="scrubs">
        My Account > My Saved Palettes
    </div>

  <hr>

    <div class="carpet_paginator">
      {% if page_obj.has_previous %}
          <a href="?page=1">«</a>
          <a href="?page={{ page_obj.previous_page_number }}">‹</a>
      {% else %}
          <a class="disabled">«</a>
          <a class="disabled">‹</a>
      {% endif %}
      {% for page in paginator.page_range %}
          {% if page == page_obj.number %}
              <a class='selected'>{{ page }}</a>
          {% else %}
              <a href='?page={{ page }}'>{{ page }}</a>
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">›</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">»</a>
      {% else %}
          <a class="disabled">›</a>
          <a class="disabled">»</a>
      {% endif %}
  </div>


    {% for palette in palette_list %}
    <div class="row">
      <ul>
        <li>
          <div class="col-sm-2">
            {% thumbnail palette.image '250x250' as im %}
            <a href="{{ palette.get_url }}">
              <img class="img-responsive"
                   style="display: inline-block; width:163px;height:163px"
                   src="{{ im.url }}">
            </a>
            {% endthumbnail %}
            <a href="{{ palette.image.url }}" class="btn-black-palette download_btn"
               role="button" download>DOWNLOAD</a>
          </div>
          <div class="col-sm-3">
            <button class="btn-black-palette" id="btnPrint" data-image-url='{{ palette.image.url }}'>Print!</button>
          </div>
          <div class="col-sm-2">
            {{ palette.carpet }}
          </div>
          <div class="col-sm-2">
            {{ palette.carpet.category.first }}
          </div>
          <div class="col-sm-3">
            <a data-toggle="modal" data-target="#deleteModal" class="btn-black-palette delete_btn"
               href="{% url 'delete_palette' palette.id %}">Delete Palette № {{ palette.id }}</a>
          </div>
        </li>
      </ul>
    </div>
    <hr>
    {% endfor %}

  </div>

<!-- Modal -->

<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog"></div>
</div>

{% endblock content %}