<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Delete Pattern</h4>
  </div>
    <div class="container">
  <div class="modal-body">
      <form action="{% url 'delete_palette' palette.id %}" method="post">
        <p>Are you sure you want to delete palette "{{ palette.id }}"?</p>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger" id="modal_btn_delete">Confirm</button>
  </div>
</div>
