{% extends 'base.html' %}
{% load carpets_utils thumbnail %}
{% load static from staticfiles %}

{% block extra_js %}
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/ajax_csrf.js' %}"></script>
  <script src="{% static 'js/recolor_carpet.js' %}"></script>
{% endblock %}


{% block content %}

  <div class="col-sm-10" id="message"></div>

  <div id="global_div" style="width:1000px;height:650px;margin:0 auto">
    <h4 style="font-family:arial; font-size:20px; color: #5A5A5A; line-height:30px;"></h4>

    <div style="width:800px; height:650px; float: left;">
      <img id="new_img" style="display:none;" src=""/>

      <div id="output_image_zone">
        <div class="text-center loader">
          <br><br><br>
          <img src="{% static 'images/ajax-loader.gif' %}">
        </div>
        <img class="hidden" default-src='{{ carpet.get_replace_url }}'
             id='preview'>
      </div>
    </div>
    <div id="palette_div" style="width:200px; height:560px; float: left;">
      <div id="picker" style="clear:both;"></div>
      <div class="btn-align">
        <div class="button_div" style="width:100%; height:25px;align:center;">
          <label class="buttonstyle_new" id="choose_room">Show In Room
            <input type="button" class="show_in_room" value="room render"
                   style="display:none;">
            </input> </label>
        </div>
        <br/>

        <div class="button_div" style="width:100%; height:25px;align:center;">
          <label class="buttonstyle_new" id="edit_palette"> Show carpet
            <input type="button" id="show_carpet_but" value="Edit Palette"
                   style="display:none;">
            </input> </label>
        </div>
        <br/>

        <div class="button_div" style="width:100%; height:25px;align:center;">
          <label class="buttonstyle_new"> Reset
            <input type="button" id="reset_but" value="Reset"
                   style="display:none;">
            </input> </label>
        </div>
        <br>

          <label class="buttonstyle_new"> Save Changes
            <input id="save" type="button" data-carpet-id="{{ carpet.id }}"
                   data-url="{% url 'save_palette' %}"
                   value="Save Changes"
                   style="display:none;">
            </input>
          </label>

      </div>
      <div id="output_palette"
           style="width:200px; height:300px; margin:20px auto auto auto;clear:both; ">
        {% for color in carpet.get_colors %}
                    <div class="colorbox_wrapper pull-left change_color_item" value="{{ color.hex }}" data-name="{{ color.name }}">
                        <div class="colorbox hand  colorbox_item " style="background-color: #{{ color.hex }}">
                        </div>
                        <span class='color_name'>{{ color.name }}</span>
                    </div>
                {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_colorpicker" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Select color</h4>
        </div>
        <div class="modal-body">
          <h4 style="clear:both; font-weight:800; margin-top:0px;">
            Instructions: To recolor simply click any color below. To achieve
            the quickest and most cost effective turn-around a running line
            selection is required. To qualify you must choose all the colors in
            your design from a single color group below. </h4>
             {% get_colors as colors %}
                    {% regroup colors by group as colors_groups %}
                    {% for group in colors_groups %}
                        <div class="ui-corner-all"
                             style=" color:#666; padding:6px; height:60px; margin:0px;">
                            <h3 style="clear:both; margin-bottom: 5px; margin-top:0px;">
                                {{ group.grouper }}</h3>
                            {% for color in group.list %}
                                <div class="colorbox_wrapper pull-left">
                                <div class="colorbox hand colorbox_item" style="background-color: #{{ color.hex }}"
                                      value="{{ color.hex }}"
                                      data-name="{{ color.name }}">
                                </div>
                                {{ color.name }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="choose_room_modal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="clearfix">
            {% for room in rooms %}
              {% thumbnail  room.image '125x125' as im %}
              <div style="float:left; margin-top:15px; margin-left:15px;"><img
                  class="roomchoice_item" value='{{ room.id }}' data-id="6"
                  src="{{ room.image.url }}"
                  height="125" border="0"/>
              </div>
              {% endthumbnail %}
            {% endfor %}
          </div>
          <span style="clear:both;"></span>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="ask_login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="clearfix">
              Login or Signup to be able to view all saved patterns,
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}